/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    /* fuente */
    --font-title: 'Satisfy', cursive;

    /* colores */
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --dark-gray: rgb(33, 37, 41);
    --dark-light: rgba(33, 37, 41, .5);
    --red-cta: rgb(220, 53, 69);

    --shadow-grey: rgba(0, 0, 0, .2);
    --shadow-red: rgba(220, 53, 69, .5);
    --bg-gradient: linear-gradient(120deg, #4f000b 0%, #720026 19%, #ce4257 60%, #720026 100%);
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--dark-gray);
}

/* header */
.header__logo {
    margin: 5px;
}

.header__title {
    font-size: 25px;
    font-family: var(--font-title);
}

.header__btn {
    color: var(--dark-gray);
}

/* inicio */
.banner-image {
    background-image: url('../assets/webp/banner-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.index__title {
    font-family: var(--font-title);
}

.index__btns {
    display: flex;
    justify-content: space-around;
}

/* opiniones */
.opinions__name {
    font-size: 20px;
}

.opinion__date {
    color: var(--dark-light);
    font-size: 12px;
    font-weight: 800;
}

.opinions__image {
    justify-content: space-around;
}

.opinions__image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#team img {
    margin-top: -50px;
}

#team .card {
    border-radius: 5px;
    box-shadow: 5px 5px 15px var(--shadow-red);
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in
}

#team .card:hover {
    background-color: var(--red-cta);
    color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 15px var(--shadow-grey);
}

/* galeria */
.gallery__container {
    background-color: var(--dark-gray);
}

.grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__item:hover {
    transform: scale(1.04);
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
    }
    
    .tall {
        grid-row: span 2;
    }
}

/* login */
.login__container {
    background-color: var(--dark-gray);
}

.login__container-section {
    border-radius: 10px;
    overflow: hidden;
}

.login-image {
    background-image: url('../assets/webp/login-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.login__label {
    float: left;
}

.form-control:focus {
    border-color: var(--dark-gray);
    box-shadow: none;
}

/* pedidos */
.delivery__container {
    background-image: var(--bg-gradient);
}

.delivery__card {
    width: 250px;
    height: 200px;
    background-color: transparent;
}

.delivery__card-image {
    position: fixed;
    width: 150px;
}

.delivery__card-content {
    float: right;
    width: 200px;
    height: 200px;
    background-color: var(--white);
    border-radius: 20px;
}

.delivery__card-view {
    position: fixed;
    float: right;
    margin: 70px 0 0 98px;
}

.delivery__card-name {
    margin: 140px 0 0 0;
}

.delivery__card-price {
    font-weight: 800;
}