/* importando fuente */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* variables */
:root {
    /* textos */
    --fuente-titulos: 'Satisfy', cursive;

    /* colores */
    --negro: rgb(0, 0, 0);
    --blanco: rgb(255, 255, 255);
    --gris-oscuro: rgb(33, 37, 41);
    --gris-medio: rgb(135, 138, 140);
    --gris-claro: rgb(214, 214, 215);
    --rojo-cta: rgb(220, 53, 69);
    --amarillo-cta: rgb(255, 193, 7);

    /* degradados */
    --sombra-clara: rgba(255, 255, 255, .2);
    --sombra-oscura: rgba(0, 0, 0, .2);
    --sombra-roja: rgba(220, 53, 69, .5);
    --sombra-verde: rgb(30, 209, 45, .5);
    --fondo-degradado: linear-gradient(#212529 2%, #720026 20%, #ce4257 60%, #720026 100%);

    /* validaciones */
    --verde-correcto: #1ed12d;
    --rojo-incorrecto: #bb2929;
}

/* -- general -- */
body {
    background-color: var(--gris-oscuro);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--blanco);
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--sombra-oscura);
}

/* -- header inicio -- */
.header__logo {
    margin: 5px;
}

.header__titulo {
    font-family: var(--fuente-titulos);
}

.header__btn {
    color: var(--gris-oscuro);
}

.icono__romanza {
    float: right;
}

/* -- header administrador -- */
/* -- header encargado -- */
/* -- header cliente -- */
.header__carrito {
    font-size: 20px;
    margin-top: -8px;
}

.header__carrito-cuenta {
    font-size: 20px;
}

.header__salir {
    width: 60px;
    font-size: 20px;
}

/* -- footer -- */
.footer {
    width: 100%;
    height: 100px;
    background-color: var(--gris-oscuro);
}

.footer__titulo {
    font-family: var(--fuente-titulos);
}

/* -- login -- */
.login__cont {
    border-radius: 10px;
    overflow: hidden;
}

.login-imagen {
    background-image: url('../activos/webp/imagen-login.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.registro-imagen {
    background-image: url('../activos/webp/imagen-registro.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto-imagen {
    background-image: url('../activos/webp/imagen-contacto.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.login__label {
    float: left;
}

.form-control:focus {
    border-color: var(--gris-oscuro);
    box-shadow: none;
}

/* -- formularios -- */
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario-registro {
    grid-template-columns: 1fr;
}

.formulario-fechas {
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom: 20px;
}

.mi-cuenta__editar-titulo,
.editarInfo__tlfn,
.editarInfo__actualizar {
    grid-column: span 2;
}

.grupo__verArchivo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-medio);
    border-radius: 10px;
    overflow: hidden;
}

.grupo__verArchivo img {
    display: block;
    object-fit: contain;
    width: 95%;
    height: 95%;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input-error {
    display: none;
    margin: 0;
    font-size: 12px;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 9px;
    z-index: 100;
    font-size: 20px;
    opacity: 0;
}

.formulario__campo-centro {
    margin-left: auto;
    margin-right: auto;
}

.formulario__btn-centro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* validación de formularios */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: var(--verde-correcto);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: var(--rojo-incorrecto);
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: var(--rojo-incorrecto);
    opacity: 1;
}

/* -- inicio -- */
.inicio__img {
    background-image: url('../activos/webp/imagen-banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio__titulo {
    font-family: var(--fuente-titulos);
}

.inicio__btn .btn {
    width: 200px;
}

/* quienes somos */
.inicio__info {
    background-color: var(--blanco);
}

/* opiniones */
.inicio__opiniones-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    grid-auto-flow: dense;
    align-items: center;
    justify-content: center;
}

.inicio__opinion {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px var(--sombra-clara);
}

/* mapa */
.inicio__mapa {
    width: 100%;
}

/* imagenes */
.inicio__imagenes {
    width: 100%;
    height: 400px;
    background-image: url('../activos/webp/imagen-footer.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio__imagenes-titulo {
    width: 100%;
    height: 400px;
    padding-top: 150px;
    background-color: var(--sombra-oscura);
}

/* redes */
.inicio__redes {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    right: 0;
    top: 40%;
    font-size: 1.5rem;
}

.inicio__redes-icono {
    display: flex;
    padding: 0.7rem;
    color: var(--gris-oscuro);
    text-decoration: none;
    transition: all 0.5s;
}

.inicio__redes-icono:first-child {
    border-radius: 1rem 0 0 0;
}

.inicio__redes-icono:last-child {
    border-radius: 0 0 0 1rem;
}

.inicio__redes-icono:hover {
    padding-right: 3rem;
    color: var(--gris-oscuro);
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem var(--sombra-oscura);
}

/* ir arriba */
.inicio__top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.inicio__top-btn {
    width: 0rem;
    height: 0rem;
    background-color: var(--amarillo-cta);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    z-index: -1;
}

.inicio__top-btn i {
    position: absolute;
    font-size: 1.5rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--gris-oscuro);
    transition: all .2s;
}

.inicio__top-mostrar {
    z-index: 10;
}

.inicio__top-mostrar .inicio__top-btn {
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
}

.inicio__top-mostrar i {
    transform: translate(-50%, -50%) scale(1);
}

/* -- menu -- */
.menu__btn-cont {
    width: 100%;
    height: 150px;
    background-color: transparent;
}

.menu__btn-caja {
    height: 150px;
    background-color: var(--amarillo-cta);
}

.menu__btn-left {
    position: absolute;
    right: 0;
    border-radius: 100px 0 0 100px;
}

.menu__btn-right {
    position: absolute;
    left: 0;
    border-radius: 0 100px 100px 0;
}

.menu__titulo {
    font-weight: 500;
    font-family: var(--fuente-titulos);
}

.titulo__left, .img__left {
    float: left;
}

.titulo__right, .img__right {
    float: right;
}

.menu__btn-img {
    display: block;
    width: 210px;
    overflow: hidden;
    transition: all .5s;
}

.menu__btn-img img {
    width: 100%;
}

.menu__btn-img:hover {
    width: 220px;
    transition: all .5s;
}

/* -- galeria -- */
.galeria__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.galeria__grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.galeria__grid-img:hover {
    transform: scale(1.04);
}

/* -- opiniones -- */
.opiniones__form {
    width: 80%;
    margin: 0 auto;
}

.opiniones__enviar {
    width: 50%;
    margin: 0 auto;
}

/* -- pedidos -- */
.pedidos {
    background-image: var(--fondo-degradado);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

/* cartas */
.pedidos__cartas-cont {
    margin-left: auto;
    margin-right: auto;
}

.pedidos__cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.pedidos__producto {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    padding-left: 15px;
}

.pedidos__producto-img {
    position: absolute;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    overflow: hidden;
}

.pedidos__producto-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.pedidos__card-contenido {
    float: right;
    width: 200px;
    height: 200px;
    background-color: var(--blanco);
    border-radius: 20px;
}

.pedidos__card-detalles {
    float: right;
    margin: 70px 0 0 98px;
}

.pedidos__card-nombre {
    margin: 140px 0 0 0;
}

.pedidos__card-precio {
    font-weight: 800;
}

/* modal */
.pedidos__imagen-producto {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.pedidos__imagen-producto img {
    width: 100%;
}

.pedidos__descripcion-producto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedidos__descripcion-producto p {
    margin: 0;
}

.pedidos__cantidad-producto {
    width: 100px;
}

.pedidos__detalles {
    width: 100%;
    padding: 20px;
    border: 2px solid var(--gris-claro);
    border-radius: 10px;
}

.pedidos__detalles-head {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--gris-claro);
}

.pedidos__detalles-h-p {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.pedidos__detalles-body {
    display: flex;
    justify-content: space-around;
}

/* formulario buscar */
.pedidos__formulario {
    display: flex;
    width: 100%;
}

.pedidos__formulario-campo {
    width: 50%;
    margin: 0 20px;
}

.pedidos__formulario-campo-s {
    position: relative;
}

.pedidos__formulario-campo-i {
    position: absolute;
    right: 10px;
    bottom: 9px;
    z-index: 100;
    color: var(--gris-oscuro);
    font-size: 20px;
}

/* -- carrito -- */
.carrito__tabla {
    border-radius: 10px;
}

.carrito__compra-tabla {
    width: 50%;
}

.carrito__icono-quitar {
    margin-left: 10px;
    text-decoration: none;
    color: var(--gris-medio);
    font-size: 20px;
}

.carrito__icono-quitar:hover {
    color: var(--sombra-roja);
}

.carrito__icono-btn {
    margin-right: 5px;
}

.carrito__categoria-producto {
    font-size: 12px;
    color: var(--gris-medio);
}

.carrito__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.carrito__btn-finalizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -- mi cuenta -- */
.mi-cuenta {
    display: block;
    padding: 40px;
    background-color: var(--blanco);
    border-radius: 10px;
}

.mi-cuenta__datos {
    margin: 5px;
}

.mi-cuenta__cta {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navegación */
.mi-cuenta__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--blanco);
}

.mi-cuenta-enlace {
    padding: 10px;
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all .5s;
}

.mi-cuenta-enlace:hover {
    color: var(--blanco);
    background-color: var(--sombra-clara);
    transition: all .5s;
}

/* -- mis direcciones -- */
.direcciones__icono {
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: var(--gris-medio);
}

.direcciones__icono-borrar:hover {
    color: var(--sombra-roja);
}

.direcciones__icono-editar:hover {
    color: var(--sombra-verde);
}

/* -- orden -- */
.orden__estado {
    color: var(--gris-medio);
}

.orden__factura {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.orden__btn {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* -- reportes -- */
.reportes__contenedor {
    margin-left: auto;
    margin-right: auto;
}

.reportes__btn {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* -- categoria -- */
.categoria__grupo {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/* -- keyframes -- */
/* ir arriba */
@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 6rem;
        height: 6rem;
    }
    100% {
        width: 4rem;
        height: 4rem;
    }
}

/* -- media -- */
/* -- galeria -- */
@media (min-width: 600px) {
    .largo {
        grid-column: span 2;
    }
    
    .alto {
        grid-row: span 2;
    }
}

/* -- responsive -- */
@media only screen and (min-width: 393px) {
    /* -- menu -- */
    .menu__btn-cont {
        margin-bottom: 80px;
    }

    .menu__btn-caja {
        width: 90%;
    }

    .menu__titulo {
        font-size: 35px;
    }
    
    .titulo__left {
        margin: 55px 0 0 10px;
    }
    
    .titulo__right {
        margin: 55px 10px 0 0;
    }

    /* -- carrito -- */
    .carrito__compra-tabla {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    /* -- menu -- */
    .menu__btn-cont {
        margin-bottom: 80px;
    }

    .menu__btn-caja {
        width: 60%;
    }

    .menu__titulo {
        font-size: 50px;
    }

    .titulo__left {
        margin: 50px 0 0 20px;
    }
    
    .titulo__right {
        margin: 50px 20px 0 0;
    }

    /* -- carrito -- */
    .carrito__compra-tabla {
        width: 50%;
    }
}

@media only screen and (min-width: 1280px) {
    /* -- menu -- */
    .menu__btn-cont {
        margin-bottom: 0;
    }

    .menu__btn-caja {
        width: 45%;
    }

    .menu__titulo {
        font-size: 60px;
    }

    .titulo__left {
        margin: 50px 0 0 20px;
    }
    
    .titulo__right {
        margin: 50px 20px 0 0;
    }
}