<section class="gallery__container w-100 vh-100 py-5">
    <h1 class="text-center text-white display-4 my-5"> Galería ROMANZA </h1>
    <div class="container grid__container">
        <div class="grid__item wide" style="background-image: url(view/../public/assets/gallery/1.webp);">  </div>
        <div class="grid__item" style="background-image: url(view/../public/assets/gallery/2.webp);">  </div>
        <div class="grid__item tall" style="background-image: url(view/../public/assets/gallery/3.webp);">  </div>
        <div class="grid__item" style="background-image: url(view/../public/assets/gallery/4.webp);">  </div>
        <div class="grid__item" style="background-image: url(view/../public/assets/gallery/5.webp);">  </div>
        <div class="grid__item wide" style="background-image: url(view/../public/assets/gallery/6.webp);">  </div>
        <div class="grid__item" style="background-image: url(view/../public/assets/gallery/7.webp);">  </div>
        <div class="grid__item tall" style="background-image: url(view/../public/assets/gallery/8.webp);">  </div>
        <div class="grid__item" style="background-image: url(view/../public/assets/gallery/9.webp);">  </div>
    </div>
</section>