<!-- imagen -->
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <h1 class="text-white display-1 index__title"> Romanza </h1>
        <h1 class="text-white display-1 index__title"> Restaurante Italiano </h1>

        <div class="index__btns my-5">
            <a href="view/../index.php?romanza=reserves" class="btn btn-danger"> Hacer Reserva </a>
            <a href="view/../index.php?romanza=delivery" class="btn btn-danger"> Solicitar Pedido </a>
        </div>
    </div>
</div>

<!-- quienes somos -->
<!-- dónde encontrarnos -->
<!-- contacto -->