<section class="menu__container py-5">
    <h1 class="text-center text-white my-5"> La Carta </h1>

    <section class="menu__buttons">
        <div class="menu__btn"><div class="menu__btn-cont menu__br-right">
            <h2 class="menu__title title__left"> Bebidas </h2>
            <a href="#" target="_blank" class="menu__btn-img img__right"><img src="view/../public/assets/menu/drink.webp" alt="Plato ROMANZA"></a>
        </div></div>
        <div class="menu__btn"><div class="menu__btn-cont menu__br-left">
            <h2 class="menu__title title__right"> Carnes </h2>
            <a href="#" target="_blank" class="menu__btn-img img__left"><img src="view/../public/assets/menu/meat.png" alt="Plato ROMANZA"></a>
        </div></div>
        <div class="menu__btn"><div class="menu__btn-cont menu__br-right">
            <h2 class="menu__title title__left"> Ensaladas </h2>
            <a href="#" target="_blank" class="menu__btn-img img__right"><img src="view/../public/assets/menu/salad.png" alt="Plato ROMANZA"></a>
        </div></div>
        <div class="menu__btn"><div class="menu__btn-cont menu__br-left">
            <h2 class="menu__title title__right"> Pastas </h2>
            <a href="#" target="_blank" class="menu__btn-img img__left"><img src="view/../public/assets/menu/paste.png" alt="Plato ROMANZA"></a>
        </div></div>
        <div class="menu__btn"><div class="menu__btn-cont menu__br-right">
            <h2 class="menu__title title__left"> Pizzas </h2>
            <a href="#" target="_blank" class="menu__btn-img img__right"><img src="view/../public/assets/menu/pizza.png" alt="Plato ROMANZA"></a>
        </div></div>
        <div class="menu__btn"><div class="menu__btn-cont menu__br-left">
            <h2 class="menu__title title__right"> Postres </h2>
            <a href="#" target="_blank" class="menu__btn-img img__left"><img src="view/../public/assets/menu/dessert.png" alt="Plato ROMANZA"></a>
        </div></div>
        <div class="menu__btn"><div class="menu__btn-cont menu__br-right">
            <h2 class="menu__title title__left"> Sopas </h2>
            <a href="#" target="_blank" class="menu__btn-img img__right"><img src="view/../public/assets/menu/soup.png" alt="Plato ROMANZA"></a>
        </div></div>
    </section>
</section>